body {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ーーーtop-wave */
.box {
  width: 900px;
  height: 900px;
  border-radius: 3px;
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.under {
  top: 10%;
  padding-top: 20px;
}

.wave-band-wrap {
  margin-top: -200px;
}
.wave {
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #6ac5d9;
  width: 420px;
  height: 420px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
  border-radius: 35%;
  width: 420px;
  height: 420px;
}
.wave.-three {
  animation: drift 5000ms infinite linear;
  border-radius: 50%;
}
.wave.-four {
  animation: drift 9000ms infinite linear;
  border-radius: 40%;
}
.top-name {
  position: absolute;
  top: 28%;
  left: 24%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  font-size: 7rem;
  color: white;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
.title > a {
  margin: 0 10px;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;

  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/* ---------------------------- */

.under-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.under-box > .wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.under-box > .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
/* ---little -----------*/

.little-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.little-box > .wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 50px;
  height: 50px;
  margin-left: -20px;
  margin-top: -20px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.little-box > .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
/* -------little-------- */

/* ----reverse-wave--- */

div.wave-band > div:nth-child(1) {
  left: 0;
}
div.wave-band-under {
  transform: rotate(180deg);
  margin-top: -50px;
  width: 100vw;
  position: absolute;
  left: 0;
}

div.title > a {
  color: white;
}
div.wave-band > div > svg {
  overflow: visible !important;
  height: 20% !important;
}

/* ----css-wave-------- */
.css-wave-container {
  position: relative;
}
.css-wave-wrap {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.reverse {
  transform: rotate(180deg);
  margin-top: -40px;
  margin-bottom: -80px;
}

.css-wave-wrap .css-wave {
  width: 100%;
  height: 100%;
  background: url(/images/wave.png);
  background-size: 1000px 100px;
  filter: invert(40%) sepia(26%) saturate(300%) hue-rotate(165deg)
    brightness(105%) contrast(102%);
}
.css-wave-wrap > .css-wave.wave1 {
  animation: animate 28s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  position: absolute;
  bottom: 0;
}
.css-wave-wrap > .css-wave.wave2 {
  animation: animate 13s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}
.css-wave-wrap > .css-wave.wave3 {
  animation: animate 29s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  position: absolute;
  bottom: 15px;
}
.css-wave-wrap > .css-wave.wave4 {
  animation: animate 13s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
  filter: invert(40%) sepia(26%) saturate(300%) hue-rotate(180deg)
    brightness(105%) contrast(102%);
}

.css-wave-wrap.reverse > .css-wave.wave1 {
  animation: animate 10s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  position: absolute;
  bottom: 0;
}
.css-wave-wrap.reverse > .css-wave.wave2 {
  animation: animate 13s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}
.css-wave-wrap.reverse > .css-wave.wave3 {
  animation: animate 20s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  position: absolute;
  bottom: 15px;
}
.css-wave-wrap.reverse > .css-wave.wave4 {
  animation: animate 13s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ---neubox */

.neu-box {
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  margin-bottom: 300px;
  margin-top: 300px;
  width: 200px;
  height: 300px;
}

/* ----header-wave--- */

#__next > div.box > div.title > div > a {
  color: white;
  text-decoration: none;
  margin-bottom: 100px;
}

a.sugomori-image-wrap img {
  border: 1px solid #dbece8;
  max-width: initial !important;
  width: 380px;
}

/* ----headerアニメーションーーーーー */
.head-animation {
  transform: translateY(-100%);
  transition-timing-function: ease;
  transition: 1.3s;
}

/* -----footer-wave------ */
/* .footer-wave {
  height: 400px !important;
  width: 400px !important;
} */

/* --twitter-icon--- */
.icon {
  margin: 5px 0;
}
.twitter-icon {
  background-color: #1e9deb;
}

.qiita-icon {
  background-color: #55bf00;
}
.github-icon {
  background-color: black;
}

/* -------profile-text--- */
.profile-text {
  color: #324b4e;
}

.profile-title {
  color: #364b45;
}

.portfolio-text {
  color: #364b45;
}

.portfolio-subtext {
  color: #95b0b4;
}

/* ----img-wave */
.img-wave-div {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden !important;
  box-shadow: 0 1px 3px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  transform: translate3d(0, 0, 0);
}

.img-wave {
  opacity: 0.4;
  position: absolute;
  bottom: -25%;
  left: 0%;
  background: white;
  width: 550px;
  height: 550px;
  margin-left: 10px;
  margin-bottom: -500px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  transition-duration: 0.75s;
  transition-property: margin-bottom;
  transition-timing-function: ease;
}

.img-wave-div:hover .img-wave {
  margin-bottom: -300px;
  animation: rotate 8000ms infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}

/* ----target-div---- */
.target-div {
  margin-top: -1100px;
  position: absolute;
}
