body {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ーーーtop-wave */
.box {
  width: 900px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #005c87;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/* ---------------------------- */

.under-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.under-box > .wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.under-box > .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
/* ---little -----------*/

.little-box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.little-box > .wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 50px;
  height: 50px;
  margin-left: -20px;
  margin-top: -20px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.little-box > .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
/* -------little-------- */

/* ----reverse-wave--- */

#__next > div.wave-band > div:nth-child(2) {
  transform: rotate(180deg);
  margin-top: -20px;
}

/* ----css-wave-------- */
.css-wave-container {
  position: relative;
}
.css-wave-wrap {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.reverse {
  transform: rotate(180deg);
  margin-top: -40px;
  margin-bottom: -80px;
}

.css-wave-wrap .css-wave {
  width: 100%;
  height: 100%;
  background: url(/images/wave.png);
  background-size: 1000px 100px;
  filter: invert(40%) sepia(26%) saturate(300%) hue-rotate(145deg)
    brightness(105%) contrast(102%);
}
.css-wave-wrap > .css-wave.wave1 {
  animation: animate 28s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  position: absolute;
  bottom: 0;
}
.css-wave-wrap > .css-wave.wave2 {
  animation: animate 13s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}
.css-wave-wrap > .css-wave.wave3 {
  animation: animate 29s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  position: absolute;
  bottom: 15px;
}
.css-wave-wrap > .css-wave.wave4 {
  animation: animate 13s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}

.css-wave-wrap.reverse > .css-wave.wave1 {
  animation: animate 10s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  position: absolute;
  bottom: 0;
}
.css-wave-wrap.reverse > .css-wave.wave2 {
  animation: animate 13s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}
.css-wave-wrap.reverse > .css-wave.wave3 {
  animation: animate 20s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  position: absolute;
  bottom: 15px;
}
.css-wave-wrap.reverse > .css-wave.wave4 {
  animation: animate 13s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  position: absolute;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ---neubox */

.neu-box {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
  margin-bottom: 300px;
  margin-top: 300px;
  width: 200px;
  height: 300px;
}
